@import "compass";

#content{
	width: 100%;
	font-size: 0em;
	@include box-sizing(border-box);
}

.row{
	clear: left;
	display: block;
	@include box-sizing(border-box);
}

section{
	float: left;
	font-size: 1rem;
}

@mixin grid($nbCol) {

	$widthGrid: 100% - ($nbCol * 2);
	$widthCol: $widthGrid / $nbCol;

	@for $i from 1 through $nbCol{
		.span#{$i} {
			width: $i * $widthCol + (($i - 1) * 2);
			margin: 0 1%;
		}
	}

	@for $i from 1 through $nbCol - 1{
		.offset#{$i} {
			margin-left: $i * $widthCol + (($i - 1) * 2) + 3;
		}
	}
}